<ng-template [ngIf]="getLoadedHolidays" [ngIfElse]="loadingHolidays">
  <h2 class="fs-1">
    Holidays in
    <strong>{{ getCountry.country }}</strong>
    for
    <strong>2024</strong>
  </h2>
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Local Name</th>
        <th scope="col">International Name</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr scope="row" *ngFor="let holiday of getHolidays; index as i">
        <td>
          <strong class="fst-italic">{{ i + 1 }}</strong>
        </td>
        <td class="text-danger">
          <strong>{{ holiday.date | date }}</strong>
        </td>
        <td>
          {{ holiday.localName }}
        </td>
        <td>
          {{ holiday.name }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #loadingHolidays>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
